

<div class="small-4 columns">
  <h2>Total Due to Me: </h2>
  <h3><%= number_to_currency(@receivable_balance) %></h3>

    <% @receivable_ious.each do |iou| %>
      <%= iou.name %> <br>
      $<%= iou.balance %> <br>
      <%= iou.rec_pay %> <br>
    <% end %>
  
</div>

<div class="small-4 columns">
  <h2>Total I Owe: </h2>
  <h3><%= number_to_currency(@payable_balance) %></h3>

    <% @payable_ious.each do |iou| %>
      <%= iou.name %> <br>
      <%= iou.balance %> <br>
      <%= iou.rec_pay %> <br>
    <% end %>

</div>

<div class="small-4 columns">
  <h2>My Contacts</h2>
  <% @contacts.each do |contact| %>
    <%= contact.first_name %> <br>
    <%= contact.email %> <br>
  <% end %>
</div>