<table>
  <thead>
    <tr>
      <th width="75">Created</th>
      <th width="175">Contact</th>
      <th width="300">Name of IOU</th>
      <th width="100">Amount</th>
      <th width="50">Rec/Pay</th>
      <th width="100">Due date</th>
      <th width="50">Paid?</th>
      <th width="25">Go</th>
    </tr>
  </thead>
    <tbody>
      <% @ious.order('created_at DESC','balance DESC','name').each do |iou| %>
      <tr>
          <td><%= iou.created_at.strftime("%m/%d/%y") %></td>
          <td><%= iou.contact.first_name + " " + iou.contact.last_name %> </td>
          <td><%= iou.name %> </td>
          <td><%= number_to_currency(iou.balance) %> </td>
          <td><%= iou.rec_pay %> </td>
          <td><%= iou.due_date %> </td>
          <td><%= iou.status %> </td>
          <td><%= link_to "View", "/ious/#{iou.id}", method: :get %> </td>
        </tr>
      <% end %>
    </tbody>
</table>