<h2>Create an IOU</h2>


<div class="small-6 columns">
  <%= form_for @iou do |f| %>
    <%= f.label "Amount" %>
    <%= f.text_field :balance  %>

    <%= f.label "What's the IOU for?" %>
    <%= f.text_field :name  %>


    <%= f.label "Due date" %>
    <!-- <a href="#" class="button small" id="dp4" data-date-format="yyyy-mm-dd" data-date="2012-02-20"> -->
        <%= f.date_select :due_date  %>
    <!-- </a> -->

    <%= f.label "Payable or Receivable?" %>
    <%= f.select :rec_pay, options_for_select([['payable', 'payable'],['receivable', 'receivable']]) %>
    


    <%= f.label "Select a contact" %>
    <%= f.collection_select(:contact_id, current_user.contacts, :id, :first_name, prompt: false) %>


    <%= f.hidden_field :status, :value => "unpaid" %>
    
    <%= link_to "Create new contact", "/contacts/new", method: :get %><br><br>

    <%= f.submit "Create IOU", class: "button small radius" %>  
  <% end %>
</div>



    <!-- <#%= render partial: "contacts/java" %> -->

    <!-- <a href="#" data-reveal-id="myModal" class="button small radius">Create new contact</a> -->

