<div class="small-8 columns">
<h1>This IOU</h1>

<%= render 'show_table' %>
  
  <% if @iou.status == "unpaid" %>
      <%= link_to "Mark paid", "/ious/#{@iou.id}/status", method: :patch, class: "button small radius" %>
    <% else %>
      <%= link_to "Mark unpaid", "/ious/#{@iou.id}/status", method: :patch, class: "button small radius" %>
  <% end %>

  <%= link_to "Delete IOU", "/ious/#{@iou.id}", method: :delete, class: "button small radius" %>

  <%= link_to "View all IOUs", "/ious", method: :get, class: "button small radius" %>  
  
</div>