<div id="myModal" class="reveal-modal" data-reveal>
<%= form_for @contact do |f| %>
  <%= f.label "First Name" %>
  <%= f.text_field :first_name %>

  <%= f.label "Last Name" %>
  <%= f.text_field :last_name %>

  <%= f.label "Email Addresss" %>
  <%= f.text_field :email %>

  <%= f.label "Phone number (optional)" %>
  <%= f.text_field :phone %>

  <%= f.submit class: "button radius" %>  
<% end %>


<a class="close-reveal-modal">&#215;</a>
</div>      